.job-posting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-posting {
    margin-left: 80px;
    margin-bottom: 20px;
    font-size: 24px;
}

.job-link-icon {
    margin-left: 10px;
    color: white;
    background-color: #A2561C;
    padding: 5px;
    margin-right: 40px;
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-decoration: none;
}

.job-posting-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}