.job-posting-container {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  padding: 0rem .6rem .5rem .6rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.25rem;
}

.job-link-icon {
    color: white;
    background-color: #A2561C;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 2.3rem; 
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0.5rem;
}
  

.job-posting-container h1 {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    margin: 0;
}