.main-page {
    padding: 20px;
}

.title {
    color: #d38847;
    margin-top: 10px;
    font-size: 60px;
    text-align: center;
}

.job-posting {
    margin-left: 100px;
    margin-bottom: 20px;
  }