.app-header {
    background-color: #457B9D;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    margin: 20;
    font-size: 1.5em;
    font-size: 48px;
  }
  
  .app-header input {
    padding: 5px;
    font-size: 1em;
  }

  .back-button {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #d38847;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}