.app-header {
    background-color: #457B9D;
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1 {
    margin: 20;
    font-size: 1.5em;
  }
  
  .app-header input {
    padding: 5px;
    font-size: 1em;
  }